<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <% include ../partials/htmlhead.ejs %>
  </head>
  <body>
    <div class="page">
    <% include ../partials/header1.ejs %>
      <p>Welcome, <%=username%></p>
      <a class='new-project-button' href="/projects/new">New Project</a>
      <div class="body">
        <% for(let i = 0; i < projects.length; i++){ %>
          <% if(projects.length === 0){ %>
            <div class="no-projects-yet">
              <h1>No Projects yet! Click on "New Project" to add your first project</h1>
            </div>
          <% } else { %>
          <div class='project-display'>
              <a href="/projects/<%=projects[i].id%>">
                <img src="<%=projects[i].photo%>">
              </a>
              <a class='link' href="/projects/<%=projects[i].id%>"><%=projects[i].name%></a>
              <p>user ID: <%=projects[i].user%></p>
            </div>
            <% }} %>
          </div>
          <form class='logout' action="/sessions/destroy" method="post">
            <input type="submit" value="Log Out">
          </form>
        </div>
    <% include ../partials/footer.ejs %>
  </body>
</html>
