<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <% include ../partials/htmlhead.ejs %>
  </head>
  <body>
    <!-- Nav Bar changes based on the active page, so we can't use a partial -->
    <nav class="navbar navbar-expand-lg navbar-light sticky-top navbg">
      <a class="navbar-brand" href="/projects/all">Hook & Needle</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="#navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav mr-auto mt-2">
          <li class="nav-item">
            <a class="nav-link" href="/projects">Your Projects</a>
          </li>
          <li class="nav-item active">
            <a class="nav-link" href="/projects/all">Browse<span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/projects/new">New Project</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/users/<%=user%>">Profile</a>
          </li>
        </ul>
      </div>
    </nav>
    <!-- End of Nav Bar -->
    <% include ../partials/header1.ejs %>
    <!-- If a user isn't signed in, show them the jumbotron -->
    <% include ../partials/login.ejs %>
    <h1 class='page-heading-text'>Browse Projects</h1>
    <hr>
    <div class="body">
      <% let projlen = projects.length %>
      <% for(let i = projlen-1; i >= 0; i--){ %>
        <div class='project-display shadow p-3 mb-5 bg-white rounded'>
          <a class='link' href="/projects/<%=projects[i].id%>">
            <h4><%=projects[i].name%></h4></a>
          <a class='link' href="/projects/<%=projects[i].id%>">
              <img src="<%=projects[i].photo%>">
            </a>
            <a class='link' href='/users/<%=projects[i].user%>'><%=projects[i].user%></a>
          </div>
          <% } %>
        </div>
    <% include ../partials/footer.ejs %>
  </body>
</html>
