<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <% include ../partials/htmlhead.ejs %>
  </head>
  <body>
    <!-- Nav Bar changes based on the active page, so we can't use a partial -->
    <nav class="navbar navbar-expand-lg navbar-light sticky-top redbg">
      <a class="navbar-brand" href="#">Hook & Needle</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link" href="/projects">Your Projects</a>
          </li>
          <li class="nav-item active">
            <a class="nav-link" href="/projects/all">Browse<span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/projects/new">New Project</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/users/myprofile">Profile</a>
          </li>
        </ul>
      </div>
    </nav>
    <!-- End of Nav Bar -->
    <% include ../partials/header1.ejs %>
    <!-- If a user isn't signed in, show them the jumbotron -->
    <%if(!user){ %>
      <div class='jumbotron bgred'>
        <h1 class="display-4">Welcome!</h1>
        <p class="lead">Hook & Needle is an online community for knitters and crocheters where you can track your projects, create inspiration boards, and see what other makers are up to.</p>
        <hr class="my-4">
        <p>Log in or sign up to start tracking your projects</p>
        <div class="jumbo-buttons">
          <a class='login-button' href="/sessions/login">Log In</a><br>
          <a class='login-button' href="/users/signup">Sign Up</a>
        </div>
      </div>
    <% } %>
    <!-- end of jumbotron -->
    <h1 class='header1'>Browse Projects</h1>
    <div class="body">
      <% for(let i = 0; i < projects.length; i++){ %>
        <div class='project-display'>
          <a class='link' href="/projects/<%=projects[i].id%>">
            <h4><%=projects[i].name%></h4></a>
          <a class='link' href="/projects/<%=projects[i].id%>">
              <img src="<%=projects[i].photo%>">
            </a>
            <p><%=projects[i].user%></p>
          </div>
          <% } %>
        </div>
    <% include ../partials/footer.ejs %>
  </body>
</html>
